body {
    --accent-color: green;
    --main-color: white;
    --secondary-color: #ddd;
    --main-text: #333;
    --accent-text: white;
    
    font-size: 16px;
    margin: 0;
}

header, footer, main {
    font-family: 'Dosis', sans-serif;
    width: 100%;
}

header, footer {
    min-height: 44px;
    max-height: 10vh;
    background-color: var(--accent-color);
    color: var(--accent-text);
}

footer, main {
    display: block;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0 3px 15px black;
    justify-content: space-between;
}

header * {
    display: inline;
    align-items: baseline;
    margin-left: 8px;
}

header h1 {
    font-size: 1em;
    float: left;
}

#header-img {
    float: left;
    background-color: white;
    border-radius: 50%;
    min-height: 22px;
    max-height: 5vh;
    width: auto;
}

.nav-link {
    background-color: inherit;
    color: inherit;
    border: none;
    padding: none;
}

main {
    padding-top: 10vh;
    background-color: var(--main-color);
    color: var(--main-text);
}

main p:first-child {
    color: var(--accent-color);
}

#about {
   font-size: 2em;
   line-height: 1.3em;
   font-family: 'Overlock', sans-serif;
   max-width: 50vw;
   min-width: 33vw;
   margin-left: auto;
   margin-right: auto;
}

#signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 30px;
    max-width: 60vw;
    min-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup input[type = "email"] {
    min-height: 44px;
    line-height: 44px;
    font-size: 20px;
    padding-left: 8px;
    margin-left: 16px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid var(--accent-color);
    background-color: var(--secondary-color);
}

#signup button {
    background-color: var(--accent-color);
    color: var(--accent-text);
    padding-top: none;
    padding-bottom: none;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 48px;
    border: none;
}

/*
    Below code from https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/
*/

#testimonial {
    background-color: black;
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    border-top: 22px solid var(--accent-color);
    border-bottom: 22px solid var(--accent-color);
}

#testimonial iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#news {
    padding: 16px;
    background-color: var(--secondary-color);
    color: var(--main-text);
    font-size: 1.3em;
}

#news blockquote {
    font-family: 'Oswald', sans-serif;
    color: var(--accent-color);
    font-size: 2em;
    text-align: center;
}

#news blockquote p:before {
    content: open-quote;
}

#news blockquote p:after {
    content: close-quote;
}

#news blockquote cite {
    font-family: 'Dosis', sans-serif;
}

footer {
    padding-top: 10px;
    text-align: center;
}